{{#if routes}}
  {{#ui-accordion class="styled fluid" collapsible=false}}
    {{#each routes as |route|}}
      {{route-list-item route=route
        click=(route-action "showRoute" route)
        removeRoute=(route-action "removeRoute")
        currentRoute=currentRoute
      }}
    {{/each}}
  {{/ui-accordion}}
{{else}}
  <p>No routes yet.</p>
{{/if}}
