html {
  height: 100%;
}

body {
  margin-top: 2em;
  height: 100%;
}

.map-container {
  position: relative;
  height: 100vh;
}

#map {
  position:absolute;
  top: 3.5rem;
  bottom:0;
  width:100%;
}
