<div class="six wide column">
  <h3 class="ui header">Route list</h3>
  <div class="ui two top attached buttons">
    {{#link-to 'new' class="ui positive button"}}
      <i class="icon plus"></i>
      Add new route
    {{/link-to}}
    <button class="ui button" {{action 'refreshList'}}>
      <i class="icon refresh"></i>
      Update list
    </button>
  </div>
  {{routes-list title="Route list" routes=model currentRoute=currentRoute}}
</div>
<div class="nine wide column map-container">
  {{outlet}}
</div>
